PORT = 8000
MONGODB_URI = mongodb+srv://saisukanta8:Sukantasai2002@sukanta.uadazrq.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = Sukanta123

ACCESS_TOKEN_EXPIRY= 1d
REFRESH_TOKEN_SECRET=Abc123
REFRESH_TOKEN_EXPIRY=10d